In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''A database is a structured collection of data that is organized and managed in a way to allow efficient retrieval, storage, and manipulation of data. It acts as a central repository to store and manage data for various applications and systems. Databases come in various types, but the two main categories are SQL databases and NoSQL databases.

SQL Database:
SQL (Structured Query Language) databases are traditional relational databases that use a structured schema to define the data model. They store data in tables, where each table has predefined columns and data types, and relationships between tables are established using foreign keys. SQL databases are known for their strong consistency, data integrity, and ACID (Atomicity, Consistency, Isolation, Durability) properties. Examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL Server, etc.

NoSQL Database:
NoSQL (Not Only SQL) databases are non-relational databases that provide a flexible data model. They are designed to handle large volumes of unstructured or semi-structured data, making them suitable for modern web applications and big data scenarios. NoSQL databases offer horizontal scalability and can handle large amounts of data with high performance. They don't require a fixed schema and can store data in various formats like key-value pairs, document-based, column-family, or graph-based. Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, etc.'''

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
'''DDL (Data Definition Language):
DDL is a subset of SQL that deals with defining and managing the structure of database objects. It includes commands to create, modify, and delete database objects like tables, indexes, and views.'''

In [5]:
#CREATE: It is used to create a new database object, such as a table.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

In [ ]:
#DROP: It is used to delete a database object, such as a table.

DROP TABLE employees;

In [ ]:
#ALTER: It is used to modify the structure of an existing database object, such as adding or dropping columns in a table.

ALTER TABLE employees
ADD salary DECIMAL(10, 2);

In [ ]:
#TRUNCATE: It is used to remove all data from a table while keeping its structure intact.


TRUNCATE TABLE employees;

In [6]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [7]:
#DML (Data Manipulation Language):
#DML is a subset of SQL that deals with querying and manipulating data within the database objects. It includes commands to insert, update, and delete records in the tables.

In [ ]:
#INSERT: It is used to add new records into a table.


INSERT INTO employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 50000);

In [ ]:
#UPDATE: It is used to modify existing records in a table.

UPDATE employees
SET salary = 55000
WHERE id = 1;

In [ ]:
#DELETE: It is used to remove records from a table.


DELETE FROM employees
WHERE id = 1;

In [8]:
#Q4. What is DQL? Explain SELECT with an example.

In [9]:
#DQL (Data Query Language): DQL is a subset of SQL that deals with querying and retrieving data from the database.

In [12]:
#SELECT: It is used to retrieve data from one or more tables based on specified criteria


SELECT id, name, age, salary
FROM employees
WHERE age > 25;

In [13]:
#Q5. Explain Primary Key and Foreign Key.

In [ ]:
#Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It enforces data integrity by ensuring that each row has a unique identifier. Primary keys are used to establish relationships between tables (via foreign keys) and are a fundamental concept in relational databases. In most databases, primary keys are indexed for faster data retrieval.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

In [16]:
#Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables, creating a relationship between them. Foreign keys ensure referential integrity, meaning that the values in the foreign key column must match the values in the primary key column of the referenced table or be NULL.

CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
);

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

In [17]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Replace 'your_database', 'your_username', 'your_password', and 'your_host' with your actual MySQL credentials
database_config = {
    "host": "your_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database",
}

# Connect to MySQL
connection = mysql.connector.connect(**database_config)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Example: Execute a SELECT query
try:
    cursor.execute("SELECT * FROM employees")
    result = cursor.fetchall()

    for row in result:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

# Close the cursor and connection
cursor.close()
connection.close()

In [19]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

WHERE: The WHERE clause filters the rows based on the specified conditions.

GROUP BY: The GROUP BY clause is used to group rows that have the same values in a specified column.

HAVING: The HAVING clause filters the grouped rows based on the specified conditions.

SELECT: The SELECT clause determines which columns will be included in the query result.

ORDER BY: The ORDER BY clause sorts the result set based on the specified columns and sort order.

LIMIT / OFFSET: The LIMIT and OFFSET clauses are used to limit the number of rows returned and to specify the starting point for the result set.

It's important to note that not all clauses are mandatory in a SQL query. The basic structure of a SELECT query typically includes the SELECT, FROM, and optionally the WHERE clause, but the other clauses can be used as needed to customize the query results. Additionally, some databases may have specific rules or optimizations that slightly alter the order of execution, but the general order mentioned above is the standard sequence for executing a SQL query.